@media print {

  body {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  body * {
    visibility: hidden !important;
  }

  .print-area,
  .print-area * {
    visibility: visible !important;
  }

  .print-area {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  button,
  input,
  select,
  textarea {
    display: none !important;
  }
}
