body{
  margin:0;
  font-family:Segoe UI;
  background:#f5f5f5;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:280px;
    min-height:100vh;
    background:#5b5b5b;
    color:white;
    padding:25px;
}

.logo-container{
    text-align:center;
    margin-bottom:50px;
}

.logo{
    width:170px;
    margin-bottom:20px;
}

.logo-container h1{
    font-size:32px;
    margin-bottom:10px;
}

.logo-container p{
    color:#d9d9d9;
    font-size:15px;
}
.sidebar h1{
  font-size:3rem;
}

.sidebar p{
  color:#ddd;
}

.grupo{
  margin-top:50px;
}

.grupo h4{
  color:#bdbdbd;
  font-size:14px;
}

.grupo ul{
  list-style:none;
  padding:0;
}

.grupo li{
    padding:18px;
    margin-top:12px;
    cursor:pointer;
    border-radius:15px;
    transition:.3s;
}

.grupo li:hover{
    background:#767676;
}

.grupo li:first-child{
    background:#747474;
    border-left:5px solid #c40018;
}

.grupo li:hover{
  background:#767676;
}

.contenido{
  flex:1;
  padding:50px;
}

.cards{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  background:white;
  width:250px;
  padding:30px;
  border-radius:25px;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.card h2{
  color:#c60019;
  font-size:3rem;
}

.logo-container{
    text-align:center;
    margin-bottom:40px;
}

.logo{
    width:160px;
    margin-bottom:15px;
}

.logo-container h1{
    color:white;
    font-size:2rem;
    margin-bottom:10px;
}

.logo-container p{
    color:#d4d4d4;
    font-size:14px;
}
