body{
  margin:0;
  font-family:Segoe UI;
  background:#f5f5f5;
}

.container{
  display:flex;
}

.sidebar{
  width:280px;
  background:#5f5f5f;
  color:white;
  min-height:100vh;
  padding:20px;
}

.sidebar h1{
  font-size:3rem;
}

.sidebar p{
  color:#ddd;
}

.grupo{
  margin-top:50px;
}

.grupo h4{
  color:#bdbdbd;
  font-size:14px;
}

.grupo ul{
  list-style:none;
  padding:0;
}

.grupo li{
  padding:18px;
  margin-top:10px;
  cursor:pointer;
  border-radius:15px;
}

.grupo li:hover{
  background:#767676;
}

.contenido{
  flex:1;
  padding:50px;
}

.cards{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  background:white;
  width:250px;
  padding:30px;
  border-radius:25px;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.card h2{
  color:#c60019;
  font-size:3rem;
}
